.about-me__body {
  padding-top: 1em;
}

.about-me__img {
    width: 80%;
    margin-top: 1em;
}

@media (min-width: 650px) {
  .about-me {
    position: relative;
    display: grid;
    grid-template-areas: 
      "title img"
      "subtitle img"
      "body img";
    grid-column-gap: 6em; /*4em gap + 2em to compensate for img moved to the left*/

    &__title {
      grid-area: title;
    }

    &__subtitle {
      grid-area: subtitle;
      grid-column: -1 / 1;
      padding-right: calc(250px + 2em); /*put these in variables: pic width and paddings*/
    }

    &_body {
      grid-area: body;
      min-width: 250px;
      padding-top: 1em;
    }

    &__img {
      min-width: 250px;
      grid-area: img;
      position: relative;
      right: 2em;
      box-shadow: .2em .2em 0.75em rgba(0,0,0,.25);
      margin-top: 1.5em;
    }
  }
}

@media (min-width: 1450px) {
  section:nth-child(odd) {
    float: right;
  }

  section:nth-child(even) {
    float: left;
  }

  .portfolio__item:nth-child(odd) {
    left: 150px;
  }
}

// properties needed for transition - many use javascript - don't display on small screens
@media (min-width: 800px) {
  .about-me {
    top: 200px;
    opacity: 0;
    transform: scale(0.5);
  }
}