.resume {
  position: relative;
  width: 60vW;
  margin: 0 auto;
  display: grid;
  // grid-template-areas:
  //   "info education experience"
  //   "info skills skills"
  //   "info interest interest";
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em;

  // disable pointer-events to enabling fading of children
  pointer-events: none;

  &__subsection {
    color: $colour-accent;
  }

  &:hover > *:not(:hover):not(:first-child) {
    opacity: 0.5;
  }

  &__fa {
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 50%;
    background: $colour-accent;
    color: $colour-primary;
    transition-duration: 400ms;
  }

  & > div {
    background: $colour-secondary;
    padding: 1em;
    width: 100%;
    transition: opacity 700ms;
        //transition: transform 1s;

    //enable pointer events on all children except first (info)
    &:not(:first-child) {
      pointer-events: auto;
    }

    &:hover {
      .resume__fa {
        transform: scale(1.3);
      }
    }
  }

  &__list {
    position: relative;
    padding-left: 1.5em;
    margin-left: 0.5em;
    border-left: 3px solid $colour-accent;
    list-style: none;
  }

  &__item::before {
    width: 4px;
    height: 4px;
    margin-top: 5px;
    border: 5px solid $colour-accent;
    background: black;
    border-radius: 50%;
    left: -30px;
    top: -5px;
    position: absolute;
    content: "";
  }

  &__item {
    position: relative;
    margin-bottom: 0.5em;
    color: $colour-faded;

    &:hover {
      .resume__item--title {
        color: $colour-accent;
        transition-duration: 0.5s;

        &::after {
          width: 70%;
        }
      }
      &::before {
        border-color: $colour-font;
      }
    }

    &--title {
      font-size: 130%;
      padding-bottom: 0.1em;
      color: $colour-font;

      &::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: $colour-accent;
        transition: 500ms;
      }
    }

    &--body {
      display: none;
    }
  }


  &__info {
    grid-area: info;
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &__education {
    grid-area: education;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__experience {
    grid-area: experience;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  &__skills {
    grid-area: skills;
    grid-column: 2/4;
    grid-row: 2/3;

    &__bars {
      display: grid;
      //grid-template-columns: 1fr 1fr;
      padding-left: 2em;

      &__bar {
        display: inline-block;
        vertical-align: middle;
        height: 3px;
        width: 75%;
        background: $colour-font;
      }

      &__list {
        padding-left: 0;
      }

      &__label {
        display: inline-block;
        margin: 0.2em 0;
        width: 25%;
        font-size: 110%;

        // &::after {
        //   content: '';
        //   margin: 0;
        //   //float: right;
        //   vertical-align: middle;
        //   //text-align: right;
        //   height: 1px;
        //   width: 50%;
        //   display: inline-block;
        //   background: $colour-accent;
        // }
      }
    }
  }

  &__interest {
    grid-area: interest;
    grid-column: 2/4;
    grid-row: 3/4;
  }
}