*, *::before, *::after {box-sizing: border-box;}

/* Global properties */

html {
  scroll-behavior: smooth;
}

body {
  background: $colour-primary;
  color: $colour-font;
  padding: 0 2.5em;
  font-size: $fs-rest;
  line-height: 1.2;
  margin: 0;
  font-family: $ff-primary;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0.4em 0;
  line-height: 1.4;
}

ul li {
  list-style: none;
}

main {
  width: 100%;
  padding-top: 8em;
  display: flex;
}