/* 
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/

$colour-primary: #0A1A30;
$colour-secondary: #1c3557;
$colour-font: #efefef;
$colour-accent: #fcba03;
$colour-white: #fff;
$colour-invalid: #DB464B;

$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Roboto Mono', monospace;
$fw-bold: 900;
$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.5rem;
$fs-rest: 1rem;

/* add media variables */

*, *::before, *::after {box-sizing: border-box;}

/* Global properties */

body {
	background: $colour-primary;
	color: $colour-font;
	padding: 0 2.5em;
	font-size: $fs-rest;
	line-height: 1.2;
	margin: 0;
	font-family: $ff-primary;
}

img {
	max-width: 100%;
	display: block;
}

/* Typography */

h1, h2, h3, #terminal {
	line-height: 1.1;
	margin: 0;
}

h1, #terminal { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }

/* Sections and elements */

// ->->-> Header <-<-<-

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// hide / display animation
	transition: top .5s;
	display: flex;
	justify-content: space-between;
	align-items: center;
  	z-index: 100;
  	background:  $colour-primary;
}

.header--lifted {
  	box-shadow: 0 .3em 0.75em rgba(0,0,0,.25);
}

nav {
	display: flex;
	align-items: center;
	margin-right: 1.25em;
	.nav__link {
		margin: 0 1.25em;
		font-family: $ff-secondary;
		&--resume {
	    	animation: intro--btn 5s;
		}
	}
		
	.nav__list {
		animation: intro--list 6s;
		color: $colour-font;
	}
}

a {
	color: $colour-font;
	text-decoration: none;
	&:hover >.char{
        color: $colour-accent;
    }
}

// brackets around nav list items, which highlight when hovered over
.char {
    font-weight: 900;
	transition: color 250ms font 250ms;
}

.logo__img {
	width: 80px;
	height: 80px;  
    position: relative; 
    left: 40px;   
    z-index: 1;
    opacity: 0;

}

.logo__img--bright {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 40px;
	opacity: 0;
	z-index: -1;
    transition: opacity 300ms;
}

// highlights when hovered over - only display on large screens
@media (min-width: 800px) {
	.logo__img {
		&:hover + .logo__img--bright {
			opacity: 1;
		}
    }
}

.btn {
	margin: 2px;
	display: inline-block;
	padding: 9px 15px;
	border: solid 2px $colour-accent;
	border-radius: 4px;     
    position: relative;    
    z-index: 1;

    &:hover {
        	transform: scale(1.05);
        &::after {
            opacity: 1;	
        }
    }
    &::after {
    	content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: lighten($colour-primary, 20);
        opacity: 0;
        z-index: -1;
        transition: transform 200ms, opacity 300ms;
    }

}

.nav-toggle {
	display: none;
}

.nav__list {
	display: flex;
	list-style: none;
}

.hide {
	position: relative;
	left: -9999px;
	top: -9999px;
}

// ->->-> Intro <-<-<-

.intro {
	display: grid;
	grid-template-columns: 1fr 2fr;
	min-height: 100vh;
}

.intro__logo {
	width: 100%;
	margin : auto;
	img {
		animation: 7s display;
	animation-fill-mode: forwards;
	}
	z-index: 1000;
}

.intro__code {
	margin: auto 0;
}

// ->->-> Main <-<-<-

main {
	width: 100%;
	max-width: 1600px;
	padding-top: 8em;
	margin: 0 auto;
}

strong {
  	color: white;
}

section {
	padding: 10em 0;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

.section__title {
  	margin-bottom: 0.3em;
}

.section__subtitle {
  	margin-bottom: 0.5em;
  	background: $colour-secondary;
  	color: $colour-accent;
  	padding: 0.25em 0;
  	position: relative;
  	left: -1em;
  	padding-left: 1em;
  	padding-right: 1em;
  /*display: inline-block; trims background on small screens*/
}

.about-me__img {
  	min-width: 250px;
}

@media (min-width: 600px) {
  	.about-me {
    	position: relative;
    	display: grid;
    	grid-template-areas: 
    	  "title img"
    	  "subtitle img"
    	  "body img";
    	grid-column-gap: 3em; /*1em gap + 2em to compensate for img moved to the left*/
  	}

  	/* add these as & children in sass */
  	.about-me__title {
    	grid-area: title;
  	}

  	.about-me__subtitle {
    	grid-area: subtitle;
    	grid-column: -1 / 1;
    	padding-right: calc(250px + 2em); /*put these in variables: pic width and paddings*/

  	}

  	.about-me__body {
    	grid-area: body;
    	min-width: 250px;

  	}

  	.about-me__img {
    	grid-area: img;
    	position: relative;
    	right: 2em;
    	box-shadow: .2em .2em 0.75em rgba(0,0,0,.25);
    	margin-top: 1.5em;
  	}
}

@media (min-width: 1200px) {
  	section:nth-child(odd) {
    	left: 100px;
  	}

  	section:nth-child(even) {
    	right: 100px;
  	}
}

@media (min-width: 600px) {
  	.portfolio__item {
    	position: relative;
    	width: 100%;
    	margin-top: 4em;
    	display: grid;
    	grid-column-gap: 1em;
    	grid-template-columns: repeat(12, 1fr);
    	grid-template-rows: repeat(2, 1fr);
    	text-align: right;
    	align-items: start;
  	}

  	.portfolio__item__image {
    	grid-column: 1 / 8;
    	grid-row: 1 / 3;
  	}

  	.portfolio__item__image--img {
    	height: 100%;
    	object-fit: cover;
  	}

  /*.portfolio__item__body {
    display: flex;
    flex-direction: column;
    align-items: end; 
    justify-content: start;
    text-align: right;
    height: 80%;
    grid-column: 6 / 12;
    grid-row: 1;
  }*/

  	.portfolio__item__subtitle {
    	grid-row: 1;
    	grid-column: 8 /12;
    	margin: auto 0;
    	padding-bottom: 0.75em;
    	border-bottom: 1px solid yellow;
  	}

  	.portfolio__item__desc {
    	position: relative;
    	right: -1em;
    	background: $colour-secondary;
    	z-index: 2;
    	padding: 1.25em;
    	grid-column: 5 / 12;
    	grid-row: 2;
    	box-shadow: .2em .2em 0.75em rgba(0,0,0,.25);
  	}
}

@media (min-width: 800px) {
  	.portfolio__item {
    	margin-top: 2em;
    	grid-template-rows: repeat(3, 1fr);
  	}

  	.portfolio__item__image {
    	grid-row: 1 / 4;
  	}

  	.portfolio__item__image--img {
    	min-height: 250px;
    	height: 100%;
    	object-fit: cover;
  	}

  	.portfolio__item__subtitle {
    	grid-row: 1;
    	grid-column: 8 /12;
  	}

  	.portfolio__item__desc {
    	padding: 1.25em;
    	grid-column: 6 / 12;
    	grid-row: 2;
  	}
}


/* Animation */

.cursor {
	font-size: $fs-h1;
	animation: 1s blink step-end infinite;

	/*
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  */
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: $colour-font;
	}
}

/*
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}
*/

@keyframes intro--btn {
	0% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes intro--list {
	0% {
		transform: translate(100%);
		opacity: 0;
	}
	80% {
		transform: translate(100%);
		opacity: 0;
	}
}

@keyframes display {
	0% {
		opacity: 0;
	}
	8% {
		opacity: 0;
	}
	13% {
		transform: scale(0.6);
	}
	15% {
		transform: scale(1.2);
	}
	20% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		transform: scale(1);
		transform: translate(0, 0);
		opacity: 1;
	}
	83% {
		// for responsiveness these values value to be calculated based on screen size, with the final value being 80px/default logo width
		// try viewport or screen.width 
		transform: scale(0.3) ease-out;
		transform-origin: 10% -10%;
	}
	99% {
		// for responsiveness these values to be calculated based on screen size, with the final value being 80px/default logo width
		transform: scale(0.13);
		transform-origin: 0% -32%;
		opacity: 0.1;
	}
    100% {transform: scale(0.01)  translate(-11450px, -11550px); opacity: 0;}
}

