/* 
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/

$colour-primary: #0A1A30;
$colour-secondary: #efefef;
$colour-accent: #fcba03;
$colour-white: #fff;
$colour-invalid: #DB464B;

$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Roboto Mono', monospace;
$fw-bold: 900;
$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-rest: 1rem;

/* add media variables */

*, *::before, *::after {box-sizing: border-box;}

body {
	background: $colour-primary;
	color: $colour-secondary;
	padding: 0px 40px;
	font-size: $fs-rest;
	line-height: 1.3;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: top .5s

}

img {
	max-width: 100%;
	display: block;
}

/* Typography */

h1, h2, h3, #terminal {
	line-height: 1.1;
	margin: 0;
}

h1, #terminal { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }

/* Sections */

.intro {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 100vh;
}

.intro__logo {
	width: 100%;
	margin : auto;
	img {
		animation: 2s display;
	}
}

.intro__code {
	margin: auto 0px;
}

a {
	color: $colour-secondary;
	text-decoration: none;
}

.logo__img {
	width: 80px;
	height: 80px;  
    position: relative;    
    z-index: 1;
    opacity: 0;

}

.logo__img--bright {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 40px;
	opacity: 0;
	z-index: -1;
    transition: opacity 300ms;
}

@media (min-width: 800px) {
	.logo__img {
		&:hover + .logo__img--bright {
			opacity: 1;
		}
    }
}

nav {
	display: flex;
	align-items: center;
	margin-right: 20px;
	.nav__link {
		margin: 0px 20px;
		font-family: $ff-secondary;
		&--resume {
	    	animation: intro--btn 5s;
		}
	}
		
	.nav__list {
		animation: intro--list 6s;
	}
}

.btn {
	margin: 2px;
	display: inline-block;
	padding: 9px 15px;
	border: solid 2px $colour-accent;
	border-radius: 4px;     
    position: relative;    
    z-index: 1;

    &:hover {
        	transform: scale(1.05);
        &::after {
            opacity: 1;	
        }
    }
    &::after {
    	content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: lighten($colour-primary, 20);
        opacity: 0;
        z-index: -1;
        transition: transform 200ms, opacity 300ms;
    }

}

a {
	&:hover >.char{
        color: $colour-accent;
    }
}

.char {
    font-weight: 900;
	transition: color 250ms font 250ms;
}

.nav-toggle {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	list-style: none;
}


/* Animation */

.cursor {
	font-size: $fs-h1;
	animation: 1s blink step-end infinite;

	/*
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  */
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: $colour-secondary;
	}
}

/*
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $colour-secondary;
  }
}
*/

@keyframes intro--btn {
	0% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes intro--list {
	0% {
		transform: translate(100%);
		opacity: 0;
	}
	80% {
		transform: translate(100%);
		opacity: 0;
	}
}

@keyframes display {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	65% {
		transform: scale(0.6);
	}
	75% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

