.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
}

@media (max-width: 799px) {
  .intro {
    display: none;
  }
}
.intro__logo {
  width: 100%;
  margin: auto;
  z-index: 1000;
}
.intro__logo img {
  animation: 1.4s display;
  animation-fill-mode: forwards;
}

.intro__code {
  margin: auto 0;
}

/* Animation */
.cursor {
  font-size: 3rem;
  animation: 1s blink step-end infinite;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #DDDDDD;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #1C3557;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1C3557;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1C3557;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #1C3557;
  }
}
@keyframes display {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  65% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Global properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #0A1A30;
  color: #DDDDDD;
  padding: 0 2.5em;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0.4em 0;
  line-height: 1.4;
}

ul li {
  list-style: none;
}

main {
  width: 100%;
  padding-top: 8em;
  display: flex;
}

h1, h2, h3, #terminal {
  line-height: 1.1;
  margin: 0;
}

h1, #terminal {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

strong {
  color: white;
  font-size: 105%;
}

.social-media {
  display: none;
}

@media (min-width: 801px) {
  .social-media {
    position: fixed;
    right: 60px;
    width: 30px;
    top: 50vh;
    display: flex;
    flex-direction: column;
  }
  .social-media .fa--a {
    padding: 0.5em 0;
    transition: all 200ms;
  }
  .social-media .fa--a:hover {
    transform: matrix(1, 0, 0, 1, -1, -3);
    color: #FCDA03;
    text-shadow: 2px 2px black;
  }
}
.contact--btn {
  cursor: pointer;
  padding: 0.5em 1em;
  vertical-align: center;
}

@media (min-width: 800px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #0A1A30;
  }

  .header--lifted {
    box-shadow: 0 0.3em 0.75em rgba(0, 0, 0, 0.25);
  }

  .header--lifted--transition {
    box-shadow: 0 0.3em 0.75em rgba(0, 0, 0, 0.25);
    transition: box-shadow 400ms;
  }
}
@media (min-width: 800px) {
  nav {
    display: flex;
    align-items: center;
    margin-right: 1.25em;
  }
  nav .nav__link {
    margin: 0 1.25em;
    font-family: "Roboto Mono", monospace;
  }
  nav .nav__link--resume {
    opacity: 0;
    transform: translate(120%);
  }
  nav .nav__list {
    color: #DDDDDD;
  }
  nav .nav__list--intro {
    opacity: 0;
    transform: translate(120%);
  }
}
a {
  color: #DDDDDD;
  text-decoration: none;
}
a:hover > .char {
  color: #FCDA03;
}

.char {
  font-weight: 900;
  transition: color 250ms font 250ms;
}

.logo__img {
  width: 80px;
  height: 80px;
  position: relative;
  left: 40px;
  z-index: 1;
}

.logo__img-intro {
  opacity: 0;
}

.logo__img--bright {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 40px;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

@media (max-width: 799px) {
  .logo__img,
.logo__img--bright,
.char {
    display: none;
  }

  .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background: #0A1A30;
    text-align: center;
    transform: translate(100%);
    transition: transform 0.5s;
  }
  .nav__list {
    height: 60%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0;
  }
}
.logo__img:hover + .logo__img--bright {
  opacity: 1;
}

.btn {
  margin: 2px;
  display: inline-block;
  padding: 9px 15px;
  border: solid 2px #FCDA03;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.btn:hover {
  transition: opacity 300ms;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #13315a;
  opacity: 0;
  z-index: -1;
}

@media (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle {
  height: 2em;
  position: fixed;
  right: 10px;
  top: 25px;
  background: #0A1A30;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.nav__list {
  display: flex;
}

.hide {
  position: relative;
  left: -9999px;
  top: -9999px;
}

@media (max-width: 799px) {
  .hamburger,
.hamburger::before,
.hamburger::after {
    background: #DDDDDD;
    width: 2em;
    height: 3px;
    border-radius: 3em;
    z-index: 10;
  }

  .hamburger {
    position: relative;
    display: block;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }
  .hamburger::before {
    top: 8px;
  }
  .hamburger::after {
    bottom: 8px;
  }
}
.hamburger--open {
  transform: translate(-10%);
}

/*
.resume {
  &__header {

  }
  &__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background: $colour-primary;
    text-align: center;
    transform: translate(100%);
    transition: transform 0.5s;
    &__list {
      height: 60%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-left: 0;
    }
  }

  &__nav-toggle {
    display: inline-block;
  }

  &__hamburger,
  &__hamburger::before, 
  &__hamburger::after {
    background: $colour-font;
    width: 2em;
    height: 3px;
    border-radius: 3em;
    z-index: 10;
  }
  &__hamburger {
    position: relative;
    display: block;
    &::before, 
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }
    &::before {top: 8px;} 
    &::after {bottom: 8px;}
  }
}
*/
.main {
  max-width: 1600px;
  width: 100%;
  position: relative;
  padding: 0 10em;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 6em 0 1em;
  }
}
@media (max-width: 800px) {
  .main {
    padding: 0 1em;
  }

  main {
    padding: 4em 1em 0 1em;
  }
}
section {
  max-width: 1000px;
  width: 100%;
  position: relative;
  padding: 10em 0;
}

@media (max-width: 1200px) {
  section {
    padding: 3em 0;
  }
}
.section__title {
  margin-bottom: 0.5em;
}

.section__subtitle {
  margin-bottom: 0.5em;
  background: #1C3557;
  color: #FCDA03;
  padding: 0.25em 0;
  position: relative;
  left: -1em;
  padding-left: 1em;
  padding-right: 1em;
  /*display: inline-block; trims background on small screens*/
}

@media (max-width: 599px) {
  body {
    font-size: 120%;
  }

  .section__subtitle {
    margin: 1.25em 0;
  }

  .portfolio__item {
    padding: 1.5em 0;
  }
  .portfolio__item__subtitle {
    margin: 0.5em 0;
  }
}
footer {
  height: 80px;
  display: flex;
  flex-direction: column;
}

.footer__social-media {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about-me__body {
  padding-top: 1em;
}

.about-me__img {
  width: 80%;
  margin-top: 1em;
}

@media (min-width: 650px) {
  .about-me {
    position: relative;
    display: grid;
    grid-template-areas: "title img" "subtitle img" "body img";
    grid-column-gap: 6em;
    /*4em gap + 2em to compensate for img moved to the left*/
  }
  .about-me__title {
    grid-area: title;
  }
  .about-me__subtitle {
    grid-area: subtitle;
    grid-column: -1/1;
    padding-right: calc(250px + 2em);
    /*put these in variables: pic width and paddings*/
  }
  .about-me_body {
    grid-area: body;
    min-width: 250px;
    padding-top: 1em;
  }
  .about-me__img {
    min-width: 250px;
    grid-area: img;
    position: relative;
    right: 2em;
    box-shadow: 0.2em 0.2em 0.75em rgba(0, 0, 0, 0.25);
    margin-top: 1.5em;
  }
}
@media (min-width: 1450px) {
  section:nth-child(odd) {
    float: right;
  }

  section:nth-child(even) {
    float: left;
  }

  .portfolio__item:nth-child(odd) {
    left: 150px;
  }
}
@media (min-width: 800px) {
  .about-me {
    top: 200px;
    opacity: 0;
    transform: scale(0.5);
  }
}
.portfolio__item {
  position: relative;
  width: 100%;
  padding: 3em 0;
}

@media (min-width: 600px) {
  .portfolio__item {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: right;
    align-items: start;
  }
  .portfolio__item__image {
    grid-column: 1/8;
    grid-row: 1/3;
  }
  .portfolio__item__image--img {
    height: 100%;
    object-fit: cover;
  }
  .portfolio__item__subtitle {
    grid-row: 1;
    grid-column: 8/12;
    margin: auto 0;
    padding-bottom: 0.75em;
    border-bottom: 1px solid yellow;
  }
  .portfolio__item__desc {
    position: relative;
    right: -1em;
    background: #1C3557;
    z-index: 2;
    padding: 1.25em;
    grid-column: 5/12;
    grid-row: 2;
    box-shadow: 0.2em 0.2em 0.75em rgba(0, 0, 0, 0.25);
  }

  /*.portfolio__item__body {
    display: flex;
    flex-direction: column;
    align-items: end; 
    justify-content: start;
    text-align: right;
    height: 80%;
    grid-column: 6 / 12;
    grid-row: 1;
  }*/
}
@media (min-width: 900px) {
  .projects {
    position: relative;
    opacity: 0;
  }

  .portfolio__item {
    margin-top: 2em;
    grid-template-rows: repeat(3, 1fr);
  }
  .portfolio__item__image {
    grid-row: 1/4;
  }
  .portfolio__item__image--img {
    min-height: 250px;
    height: 100%;
    object-fit: cover;
  }
  .portfolio__item__subtitle {
    grid-row: 1;
    grid-column: 8/12;
  }
  .portfolio__item__desc {
    padding: 1.25em;
    grid-column: 6/12;
    grid-row: 2;
  }
}
.resume {
  position: relative;
  width: 80vW;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  pointer-events: none;
}
.resume__subsection {
  color: #FCDA03;
}
.resume:hover > *:not(:hover):not(:first-child) {
  opacity: 0.5;
}
.resume__fa {
  margin-right: 0.5em;
  padding: 0.5em;
  border-radius: 50%;
  background: #FCDA03;
  color: #0A1A30;
  transition-duration: 400ms;
}
.resume > div {
  background: #1C3557;
  padding: 1em;
  width: 100%;
  transition: opacity 700ms;
}
.resume > div:not(:first-child) {
  pointer-events: auto;
}
.resume > div:hover .resume__fa {
  transform: scale(1.3);
}
.resume__list {
  position: relative;
  padding-left: 1.5em;
  margin-left: 0.5em;
  border-left: 3px solid #FCDA03;
  list-style: none;
}
.resume__item::before {
  width: 4px;
  height: 4px;
  margin-top: 5px;
  border: 5px solid #FCDA03;
  background: black;
  border-radius: 50%;
  left: -30px;
  top: -5px;
  position: absolute;
  content: "";
}
.resume__item {
  position: relative;
  margin-bottom: 0.5em;
  color: #DDDD;
}
.resume__item:hover .resume__item--title {
  color: #FCDA03;
  transition-duration: 0.5s;
}
.resume__item:hover .resume__item--title::after {
  width: 70%;
}
.resume__item:hover::before {
  border-color: #DDDDDD;
}
.resume__item--title {
  font-size: 130%;
  padding-bottom: 0.1em;
  color: #DDDDDD;
}
.resume__item--title::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #FCDA03;
  transition: 500ms;
}
.resume__item--body {
  display: none;
}
.resume__info {
  grid-area: info;
  grid-column: 1/2;
  grid-row: 1/4;
}
.resume__education {
  grid-area: education;
  grid-column: 2/3;
  grid-row: 1/2;
}
.resume__experience {
  grid-area: experience;
  grid-column: 3/4;
  grid-row: 1/2;
}
.resume__skills {
  grid-area: skills;
  grid-column: 2/4;
  grid-row: 2/3;
}
.resume__skills__bars {
  display: grid;
  padding-left: 2em;
}
.resume__skills__bars__bar {
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 70%;
  background: #DDDDDD;
}
.resume__skills__bars__list {
  padding-left: 0;
}
.resume__skills__bars__label {
  display: inline-block;
  margin: 0.2em 0;
  width: 25%;
  font-size: 110%;
}
.resume__interest {
  grid-area: interest;
  grid-column: 2/4;
  grid-row: 3/4;
}

@media (max-width: 1400px) {
  .resume {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .resume {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
  }
  .resume__info {
    grid-area: info;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .resume__education {
    grid-area: education;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .resume__experience {
    grid-area: experience;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .resume__skills {
    grid-area: skills;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .resume__interest {
    grid-area: interest;
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
@media (max-width: 600px) {
  .resume {
    display: flex;
    flex-direction: column;
  }
  .resume__item::before {
    left: -35px;
  }
  .resume__skills__bars__label {
    width: 35%;
  }
  .resume__skills__bars__bar {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
